# --- Minecraft instance stuff we DON'T want in git ---

# Worlds (server will have its own world)
minecraft/saves/
minecraft/backups/

# Logs & crash reports
minecraft/logs/
minecraft/crash-reports/

# Screenshots
minecraft/screenshots/

# Local config caches / maps (optional)
minecraft/journeymap/
minecraft/xaero*
minecraft/patchouli_data/

# Shader caches (optional)
minecraft/shaderpacks/*
!minecraft/shaderpacks/*.zip

# User-specific files
minecraft/options.txt
minecraft/servers.dat
minecraft/servers.dat_old
minecraft/usercache.json
minecraft/user-prefs.json
minecraft/realms_persistence.json
minecraft/command_history.txt


# Ignore Fabric generated cache
minecraft/.fabric/

# Ignore local Better Trims config
minecraft/config/better-trims.json5
