# --- Minecraft instance stuff we DON'T want in git ---

# Worlds (server will have its own world)
.minecraft/saves/
.minecraft/backups/

# Logs & crash reports
.minecraft/logs/
.minecraft/crash-reports/

# Screenshots
.minecraft/screenshots/

# Local config caches / maps (optional)
.minecraft/journeymap/
.minecraft/xaero*
.minecraft/patchouli_data/

# Shader caches (optional)
.minecraft/shaderpacks/*
!.minecraft/shaderpacks/*.zip
